In [1]:
import numpy as np
import pandas as pd

# Se leen los datos del archivo csv
text_data = pd.read_csv("MovieSynopsis.csv")
text_data.head()

,Imdb Link,Synopsis Link,Synopsis
0,http://www.imdb.com/title/tt92974,NaN,NaN
1,http://www.imdb.com/title/tt83907,/title/tt0083907/synopsis?ref_=tt_stry_pl,\nFive Michigan State University students vent...
2,http://www.imdb.com/title/tt92997,NaN,NaN
3,http://www.imdb.com/title/tt93006,NaN,NaN
4,http://www.imdb.com/title/tt93029,NaN,NaN

In [2]:
text_data.isnull().sum()

Imdb Link          0
Synopsis Link    549
Synopsis         549
dtype: int64

In [3]:
text_data.head()

,Imdb Link,Synopsis Link,Synopsis
0,http://www.imdb.com/title/tt92974,NaN,NaN
1,http://www.imdb.com/title/tt83907,/title/tt0083907/synopsis?ref_=tt_stry_pl,\nFive Michigan State University students vent...
2,http://www.imdb.com/title/tt92997,NaN,NaN
3,http://www.imdb.com/title/tt93006,NaN,NaN
4,http://www.imdb.com/title/tt93029,NaN,NaN

In [4]:
# Se leen los datos del archivo csv
movie_data = pd.read_csv("MovieGenre.csv", encoding ="ISO-8859-1")

def divide_list(n_chunks, list_to_divide):
    chunk_size = len(list_to_divide)//n_chunks + 1
    chunks = [list_to_divide[i:i+chunk_size] for i in range(0, len(list_to_divide), chunk_size)]
    
    return chunks

n_chunks = 10
genre_chunks = divide_list(n_chunks, movie_data['Genre'])

In [5]:
genre_chunk = genre_chunks[1]
genre_chunk = genre_chunk[:812]
len(genre_chunk)

812

In [6]:
text_data['Genre'] = list(genre_chunk)
text_data.head()

,Imdb Link,Synopsis Link,Synopsis,Genre
0,http://www.imdb.com/title/tt92974,NaN,NaN,Family|Comedy
1,http://www.imdb.com/title/tt83907,/title/tt0083907/synopsis?ref_=tt_stry_pl,\nFive Michigan State University students vent...,Horror
2,http://www.imdb.com/title/tt92997,NaN,NaN,Action|Crime|Drama
3,http://www.imdb.com/title/tt93006,NaN,NaN,Drama
4,http://www.imdb.com/title/tt93029,NaN,NaN,Crime|Drama|Thriller

In [7]:
text_data = text_data[pd.notnull(text_data['Synopsis Link'])]
text_data.head()

,Imdb Link,Synopsis Link,Synopsis,Genre
1,http://www.imdb.com/title/tt83907,/title/tt0083907/synopsis?ref_=tt_stry_pl,\nFive Michigan State University students vent...,Horror
6,http://www.imdb.com/title/tt93044,/title/tt0093044/synopsis?ref_=tt_stry_pl,\nThe plot centres on a secret 1968 East-West ...,Thriller
17,http://www.imdb.com/title/tt93260,/title/tt0093260/synopsis?ref_=tt_stry_pl,"\nIn San Francisco, California, down-on-his-lu...",Action|Adventure|Comedy
20,http://www.imdb.com/title/tt93300,/title/tt0093300/synopsis?ref_=tt_stry_pl,"\nIn Amity, Long Island, Ellen Brody (Lorraine...",Adventure|Horror|Thriller
24,http://www.imdb.com/title/tt93437,/title/tt0093437/synopsis?ref_=tt_stry_pl,"\nFollowing the divorce of their parents, Mich...",Comedy|Horror

263

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

tfidf_vectorizer = TfidfVectorizer()
X = tfidf_vectorizer.fit_transform(text_data['Synopsis'])
Y = text_data['Genre']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

(87, 19569)